$White: hsl(0, 0%, 100%);
$Light-pink: hsl(275, 100%, 97%);
$Grayish-purple: hsl(292, 16%, 49%);
$Dark-purple: hsl(292, 42%, 14%);

@font-face {
  font-family: "worksans";
  src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
  font-family: "worksans", system-ui, sans-serif;
  background-color: $Light-pink;
}

main {
  width: 100vw;
  height: 40vh;
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  max-width: 400px;
  min-height: fit-content;
  background-color: $White;
  position: absolute;
  display: grid;
  grid-template-rows: 20%, 80%;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.066);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .title {
    display: flex;
    gap: 15px;
    align-items: center;
    .icon-star {
      width: 25px;
    }
    h1 {
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}

.q {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  p {
    font-weight: bold;
    font-size: 0.8rem;
  }
  &:hover,
  &:focus {
    color: #ad28eb;
  }
}

.answer {
  animation: show 0.5s ease-in;
  p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.651);
  }
}

.hidden {
  display: none;
}

@keyframes show {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 599px) {
  main {
    background-image: url(../assets/images/background-pattern-mobile.svg);
    height: 40vh;
  }
  .content-container {
    width: 280px;
    padding: 20px;
    border-radius: 8px;
  }
  .question-container {
    margin: 15px 0;
  }

  .q {
    margin-bottom: 20px;
  }
}
